.menu {

  display: none;

}

@media (min-width: $desktop-breakpoint-700) {
  .menu.resize {

    position: fixed;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

    top: 0;
    left: 0;
    width: 100%;

    // padding: 10px 100px;
    box-sizing: border-box;
    transform: .5s;
    z-index: 1000;
    box-shadow: 0px 1px 1px #ffffffa4;


    .menu__link.resize {
      // margin: 0;

      padding: 1rem;
      color: white;

      &:hover {

        color: red;
      }
    }

    .menu__link.resize:before {
      padding: 8px;
      color: rgb(255, 255, 255);
      content: "/\00a0";
    }

    .menu__link.resize:after {
      padding: 8px;
      color: rgb(255, 255, 255);
      content: "/\00a0";
    }


  }


  .menu {
    display: flex;
    justify-content: center;

  }

  .menu__ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    // width: 100%;
  }

  .menu__dropdown {
    float: left;
    overflow: hidden;
  }

  .menu__li {

    right: 0;
    color: rgb(238, 232, 232);
    display: block;

    text-align: center;

    transition: all 0.25s ease-in-out;

    &:hover {
      background-position: bottom center;
      color: rgba(0, 0, 0, 0.75);


    }

    .menu__link {
      font-size: $xs-font;

      text-decoration: none;
      text-transform: uppercase;
      transition: .5s ease-in;

      &:hover {
        border-top: 1.5px solid red;
        border-bottom: 1.5px solid red;
        font-weight: 400;
        color: red;
        cursor: pointer;
      }
    }

    .menu__link:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }

    .menu__link:after {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }


  }

  .arrowDown {
    height: 100%;
    position: relative;
    bottom: 10px;
  }

  .menu__link {
    margin: 1.1rem;
    text-decoration: none;

    padding: 1rem 2rem;
    color: rgba(24, 45, 97, 0.899);
    display: block;
    padding: 1rem 0;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: rgb(193, 187, 187);
    }
  }

  .arrowDown__name {
    margin: 0;
  }

  .menu__dropdown--content {
    display: none;

    top: 65px;

    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .menu__dropdown--link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;

    &:hover {
      background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    }
  }

  .menu__dropdown:hover .menu__dropdown--content {
    display: block;
  }
}