.ul {
  padding-top: 10px;
  padding-left: 0;
  width: 100%;
  position: relative;
  left: 50%;
  background-color: #101357;
  transform: translate(-50%, 0);

  h3 {
    height: 7vh;
    font-size: 30;
    color: #fea49f;
    text-align: center;
  }
}
