/********************************************/
/************ Global Variables ***************/
/********************************************/

// Colors
$dark-grey: #333;
$blue: #1b99d8cf;
$dark-blue: rgb(157, 165, 196);
$off-white: #f7f6f6;
$grey: rgb(101, 99, 99);

// Fonts
$xxxl-font:5rem;
$xxl-font:4rem;
$xl-font: 3.5rem;
$l-font: 2.8rem;
$m-font: 2rem;
$s-font: 1.7rem;
$xs-font: 1.5rem;

// Spacing
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;
$xxl-size: 5rem;

$desktop-breakpoint-500: 500px;
$desktop-breakpoint-600: 600px;
$desktop-breakpoint-700: 700px;
$desktop-breakpoint-800: 800px;
$desktop-breakpoint-950: 950px;
$desktop-breakpoint-1200: 1200px;